.App {
  text-align: center;
}

.container {
  margin: auto;
  padding: 2rem;
  font-family: 'Work Sans', sans-serif;
}

.form-group {
  width: 100%;
  margin: auto;
}



.card-results {
  margin: auto;
  width: 30rem;
}

.custom-alert {
  margin-top: 2rem;
}

.results {
  display: inline-block;
  margin: 1.5rem;
  align-content: center;
}

.result:nth-child(even) {
  font-size: medium;
  margin-top: 2rem;
}

.result .value {
  font-size: x-large;
}

.App-link {
  color: #61dafb;
}